html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

#main_container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #2c261e;
    align-items: center;
    text-decoration: none;
}
 .group_name ul{
    list-style-type: none;
}
 a{
        text-decoration: none;
        color: #0000;
        
        
    }

    .nav-item a{
        text-decoration: none;
        color: #e3c08d;   
    }

    .nav-item a .disabled{
      color: #898071;
      
    }
.group_name {
    position: relative;
    z-index: 10000;
    top: 1%;
    font-size: xx-large;
    font-family: monospace;
    color: #efefef;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    
    }
   

.restaurant_menu_frame{
    position: relative;
    padding-bottom: 80px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    background: #2c261e;
}
.restaurant_menu_frame .restaurant_container{
    position: relative;
    /* margin-top: 100%; */
    width: 1320px;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.restaurant_container .dishs_table{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.restaurant_container .resto_table{
    position: relative;
    width: 85%;
    height: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2c261e;
   
}

.switch{
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
}

.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
 
.slider:before{
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 6px;
    bottom: 3.5px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196f3;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before{
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round{
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
.spec-select {
    position: relative;
    padding: 0px 7px;
    height: 27px;
    background: #ffff;
    border: 1px solid #dddd;
    border-radius: 8px;
    font-family: 'GT Walsheim Pro';
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #4F547B;
}
.new_dish_text{
    
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 25px;
    color: #ce2929;
    margin-bottom: 30px;
}
.new_dish_text{
   
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 25px;
    color: #ce2929;
    margin-bottom: 30px;
}



.restaurant_container .dish_container {
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: auto;
  
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .long-input {
    position: relative;
    margin-top: 25px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }

.long-input label {
    
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #ffff;
    


}

.long-input input {
    position: relative;
    margin-top: 10px;
    padding-left: 20px;
    width: 100%;
    height: 54px;
    border: none;

    background: #f7f7f7;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    border-radius: 5px;

    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #4f547b;
}

.dish_container .half_input_frame{
    position: relative;
    margin-top: 25px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.half_input_frame .half_input{
    position: relative;
    width: 49%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.half_input label{
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #ffff;
}

.half_input input {
    position: relative;
    margin-top: 10px;
    padding-left: 20px;
    width: 100%;
    height: 54px;
    border: none;
    border-radius: 8px;
    background: #f7f7f7;
}
.half_input select {
    position: relative;
    margin-top: 10px;
    padding: 0px 20px;
    width: 100%;
    height: 55px;
    display: flex;
    border: none;
    background: #f7f7f7;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    border-radius: 5px;

    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #4F547B;
}
.long-input textarea{
    position: relative;
    margin-top: 10px;
    padding: 20px;
    width: 100%;
    height: 200px;
    border: none;

    background: #F7F7F7;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    border-radius: 5px;

    font-family:'GT Walsheim Pro' ;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #4F547B;
}

.img_frame {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.img_frame label{
    font-family:'GT Walsheim Pro';
    margin-top: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #FFFF;


}
.media_frame{
    position: relative;
    margin-top: 10px;
    width: 100%;
    height: 250px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.media_frame .upload_img_box{
    position: relative;
    width: 19%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}
.upload_img_box img {
    position: relative;
    width: 100%;
    height: 100%;

    display: block;
    border-radius: 10px;
}
#file {
    opacity: 0.2;
    border: none;
    border-radius: 10px;
    background: grey;
    position: absolute;
    left: 0px;
    width: 100%;
    top: 0px;
    height: 100%;
    /* cursor: pointer; */
  }