html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

#main_container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #2c261e;
    align-items: center;
    text-decoration: none;
}
 .group_name ul{
    list-style-type: none;
}
 a{
        text-decoration: none;
        color: #0000;
        
        
    }

    .nav-item a{
        text-decoration: none;
        color: #e3c08d;   
    }

    .nav-item a .disabled{
      color: #898071;
      
    }
.group_name {
    position: relative;
    z-index: 10000;
    top: 1%;
    font-size: xx-large;
    font-family: monospace;
    color: #efefef;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    
    }
   

.restaurant_menu_frame{
    position: relative;
    padding-bottom: 80px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    background: #2c261e;
}
.restaurant_menu_frame .restaurant_container{
    position: relative;
    /* margin-top: 100%; */
    width: 1320px;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.restaurant_container .dishs_table{
    position: relative;
    width: 100%;
    /* height: auto; */
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new_dish_text{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 25px;
    color: #ce2929;
    margin-bottom: 30px;
}
.spec-select {
    position: relative;
    padding: 0px 7px;
    height: 27px;
    background: #ffff;
    border: 1px solid #dddd;
    border-radius: 8px;
    font-family: 'GT Walsheim Pro';
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #4F547B;
}